@charset "UTF-8";

:root{
    --red : #d9444d;
    --green : rgba(2,230,146,1);
    --lightgreen :rgba(102, 238, 120, 1);
    --background : #14192b;
    --background_2 : #4a588c;
    --purple : #9168D3;
    --blue : #4285F4;
}

body{
    background :var(--background);
    color : white;
    font-family : 'Montserrat', 'Noto Sans KR', sans-serif;
}