@charset "UTF-8";

body{
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size : 20px;
} 
.NotFound{
    text-align: center;
    font-size : 12rem;
    letter-spacing: 3rem;
    h1{
        margin-top : 20%;
        color :rgba(22,22,22,.5);
    }
}
@mixin btn{
    &:active,
    &:focus{
        border : none;
        outline: none;
    }
}

@mixin innerContents{
    margin : 50px auto;
    width : 50%;
    font-weight : 600;
    p{
        margin-top : 50px;
    }
}
@mixin innerContentsWide{
    margin : 50px auto;
    width : 60%;
    font-weight : 600;
    p{
        margin-top : 50px;
    }
}