@import 'reset.scss'; // Reset Default Browser Styles
@import 'index.scss';


// Common Styles
@import "style/common/Navbar.scss";


// Components Styles
@import "style/components/Header.scss";
@import "style/components/ContentsWrapper.scss";
@import "style/components/Layout.scss";

// Pages Styles
@import "style/pages/mainPages.scss";