.mainPage{
    .Header{
        display : none;
    }
    .whoami{
        position : absolute;
        top : 50%;
        left : 50%;
        width : 720px;
        font-size : 64px;
        font-weight : 800;
        @media (max-width : 1920px) {
            transform : translate3d(-50%,100%,0);
        }
        @media (max-width : 1440px) {
            transform : translate3d(-50%,50%,0);
        }
        p{
            margin-top : 0px;
        }
        .grad{
            margin-top : 30px;
            width : 100%;
            height : 4px;
            background: linear-gradient(45deg, rgb(22,22,22),rgb(255, 121, 81) , yellow, rgb(100, 250, 100), cyan, blue, violet); /* Standard syntax (must be last) */
        }
    }
    .about{
        position: absolute;
        top : 100vh;
        width : 100%;
        height : 100vh;
        color : #ddd;
        background : #111;
        transition : all .4s;    
        line-height: 2rem;    
    }
}