.ContentsWrppaer{
    position : absolute;
    top : 100px;
    left : 0px;
    width : 100%;
    font-size : 1em;
    section{
        @include innerContents();
        .highlight-green{
            color : rgba(2,230,146,1);
        }
    }
    .title{
        text-align: center;
        font-size : 2rem;
        font-weight : 800;
        margin : 100px 0px 100px 0px;
    }
    .wide{
        @include innerContentsWide();
    }
}