.Header{
    position : absolute;
    top : 0px;
    left : 0px;
    display : flex;
    width : 100%;
    height : 100px;
    background :rgba(239,239,239,.3); 
    color : #222;
    font-size : 2rem;  

}